@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: linear-gradient(135deg, #833ab4, #fd1d1d, #fcb045);
    background-size: 200% 200%;
    animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}